.header {
   height: 70vh;
   animation: all 1s ease-in-out;
   background: url("../images/background.jpg") no-repeat fixed;
   background-size: cover;
}

@media (max-width: 768px) {
   .header {
      height: 30vh;
   }
}

.header.sm {
   height: 30vh;
}

.header .container {
   display: flex;
   position: relative;
   padding: 0.8rem 0;
   height: 100%;
}

.header .container button {
   position: fixed;
   top: 0;
   right: 0;
   color: #f5f5f5;
   text-align: center;
   padding: 0.5rem;
   margin: 1rem 1rem 0 0;
   background: rgba(0, 0, 0, 0.8);
   border-radius: 0.25rem;
   transition: all 0.3s ease;
   display: none;
   z-index: 999;
   cursor: pointer;
}

@media (max-width: 768px) {
   .header .container button {
      display: flex;
   }
}

.header .container button:hover {
   background: rgb(0, 0, 0);
}

.header .container nav {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 0.3rem;
   margin-left: auto;
}

@media (max-width: 768px) {
   .header .container nav {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-left: unset;
      padding: 6rem 1rem 0;
      z-index: 998;
      background: #f5f5f5;
      width: 60vh;
      height: 100vh;
      opacity: 0;
      pointer-events: none;
      transform: translateX(50%);
      transition: all .6s ease;
   }

   .header .container nav a {
      padding: 5rem 1rem 1rem;
   }

   .header .container nav.active {
      opacity: 1;
      transform: translateX(0);
      pointer-events: none;
   }
}

.header .container nav a {
   color: #f5f5f5;
   text-align: center;
   padding: 0.3rem 1rem;
   font-size: 1.2rem;
   background: rgba(0, 0, 0, 0.8);
   border-radius: 0.25rem;
   transition: all 0.3s ease;
}

@media (max-width: 768px) {
   .header .container nav a {
      width: 100%;
   }
}

.header .container nav a:hover {
   background: rgb(0, 0, 0);
}

.header .container .logo {
   position: absolute;
   padding: 0.5rem 4rem;
   font-size: 2.4rem;
   font-weight: 700;
   background: #f5f5f5;
   border-radius: 0.25rem 0.25rem 0 0;
   bottom: 0;
   left: 0;
}

@media (max-width: 768px) {
   .header .container .logo {
      left: 50%;
      transform: translateX(-50%);
      font-size: 2.2rem;
   }
}

.header.dynamic {
   background: #f5f5f5;
   position: fixed;
   transform: translateY(-50%);
   top: 0;
   width: 100%;
   height: 8vh;
   z-index: 998;
   opacity: 0;
   transition: all 0.3s ease;
   pointer-events: none;
   box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

@media (max-width: 768px) {
   .header.dynamic {
      display: none;
   }
}

.header.dynamic .logo-menor {
   width: 2rem;
   aspect-ratio: 1/1;
   border-radius: 0.25rem;
}

.header.dynamic.active {
   transform: translateY(0);
   opacity: 1;
   pointer-events: auto;
}



.footer {
   text-align: center;
   padding: 1rem;
}