@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
  background: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}
html,
body {
  scroll-behavior: smooth;
}

body {
  opacity: 0;
  animation: fade 1s ease-in forwards;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

main {
  padding-bottom: 3rem;
  background: #f5f5f5;
}
@media (max-width: 768px) {
  main {
    padding-bottom: unset;
  }
}

.container {
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
}
@media (max-width: 768px) {
  .container {
    padding: 1rem;
    font-size: 14px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
    font-size: 18px;
  }
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #3AAA38;
}

h2.centered {
  text-align: center;
}

section.paragraph {
  padding: 1rem 6.5rem;
  color: #999;
  font-size: 1.2rem;
  font-style: italic;
}
@media (max-width: 768px) {
  section.paragraph {
    padding: 1rem;
  }
}

.header {
  height: 70vh;
  animation: all 1s ease-in-out;
  background: url("../images/background.jpg") no-repeat fixed;
  background-size: cover;
}
@media (max-width: 768px) {
  .header {
    height: 30vh;
  }
}
.header.sm {
  height: 30vh;
}
.header.dynamic {
  background: #f5f5f5;
  position: fixed;
  transform: translateY(-50%);
  top: 0;
  width: 100%;
  height: 8vh;
  z-index: 998;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
@media (max-width: 768px) {
  .header.dynamic {
    display: none;
  }
}
.header.dynamic .logo-menor {
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
}
.header.dynamic.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.header .container {
  display: flex;
  position: relative;
  padding: 0.8rem 0;
  height: 100%;
}
@media (max-width: 768px) {
  .header .container {
    justify-content: space-between;
    align-items: center;
    padding-top: 2.2rem;
    width: 100%;
  }
}
.header .container button {
  position: fixed;
  top: 0;
  right: 0;
  color: #f5f5f5;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem 1rem 0 0;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  display: none;
  z-index: 999;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header .container button {
    display: flex;
  }
}
.header .container button:hover {
  background: rgb(0, 0, 0);
}
.header .container nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  margin-left: auto;
}
@media (max-width: 768px) {
  .header .container nav {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: unset;
    padding: 0.6rem 2rem;
    width: 100%;
    z-index: 998;
    background: #f5f5f5;
    display: none;
    height: 100vh;
  }
  .header .container nav a {
    padding: 5rem 1rem 1rem;
  }
  .header .container nav.active {
    display: flex;
  }
}
.header .container nav a {
  color: #f5f5f5;
  text-align: center;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .header .container nav a {
    width: 100%;
  }
}
.header .container nav a:hover {
  background: rgb(0, 0, 0);
}
.header .container .logo {
  position: absolute;
  padding: 0.5rem 4rem;
  font-size: 2.4rem;
  font-weight: 700;
  background: #f5f5f5;
  border-radius: 0.25rem 0.25rem 0 0;
  bottom: 0;
  left: 0;
}
@media (max-width: 768px) {
  .header .container .logo {
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2rem;
  }
}

main section {
  width: 100%;
}
main section.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  main section.hero-section {
    flex-direction: column;
  }
  main section.hero-section > div {
    padding: 0 0.5rem;
  }
}
main section.hero-section > div {
  flex: 1;
}
main section.hero-section .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  main section.hero-section .text-container {
    padding: 1rem;
  }
}
main section.hero-section .text-container h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #3AAA38;
}
main section.hero-section .text-container p {
  font-size: 1rem;
}
main section.hero-section .text-container p:not(:last-child) {
  margin-bottom: 0.8rem;
}
main section.institutions {
  text-align: center;
}
main section.institutions h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
main section.institutions .card-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  gap: 1.2rem;
}
@media (max-width: 768px) {
  main section.institutions .card-group {
    padding: 1rem;
  }
}
main section.institutions .card-group .card {
  background-color: #fff;
  border-radius: 0.25rem;
  aspect-ratio: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.015);
  padding: 0.2rem;
  transition: 0.5s ease;
}
main section.institutions .card-group .card img {
  width: 100%;
}
main section.institutions .card-group .card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
main section.institutions .card-group .card div {
  margin: 1rem;
  text-align: left;
  color: #3AAA38;
}
main section.institutions .card-group .card div h3 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
}
main section.institutions .card-group .card div .contact-item {
  font-size: 1.2rem;
}

#map-page {
  background: url("../images/background.jpg") no-repeat fixed;
  background-size: cover;
  min-height: 70vh;
}
#map-page .map-container {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1080px;
  height: 80%;
}
@media (max-width: 768px) {
  #map-page .map-container {
    width: 94.5%;
    height: 78%;
  }
}
#map-page .map-container button {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  z-index: 999;
  color: #fff;
  margin: 0.6rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease;
}
#map-page .map-container button:hover {
  background: rgba(0, 0, 0, 0.5);
}
#map-page .map-container #map {
  width: 100%;
  height: 100%;
  background-color: #111;
  border-radius: 0.25rem;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin-top: 1.5rem;
  place-items: center;
  gap: 0.6rem;
}
.articles_article {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.015);
  transition: 0.5s ease;
  border-radius: 0.25rem;
  padding: 1rem;
  gap: 1rem;
}
.articles_article:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.articles_article h4 {
  font-size: 1.4rem;
  font-weight: bold;
}
.articles_article p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(197px, 1fr));
  margin-top: 1.5rem;
  gap: 0.6rem;
}
.books_book {
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: 0.5s ease;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.075);
}
.books_book:hover img {
  transform: scale(1.01);
}
.books_book:hover .text {
  transform: translateY(0);
}
.books_book img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.books_book .text {
  position: absolute;
  transform: translateY(100%);
  bottom: 0;
  width: 100%;
  color: #f5f5f5;
  text-align: center;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
}

.gallery {
  display: grid;
  margin-top: 1.5rem;
  gap: 0.6rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.gallery_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery_item:hover > img {
  opacity: 1;
}
.gallery_item.wide {
  grid-column: span 2;
}
.gallery_item.tall {
  grid-row: span 2;
}
.gallery_item.big {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.25rem;
  opacity: 0.93;
  transition: opacity 0.3s ease;
}