@import 'resets';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

$color: #f5f5f5;
$secondary-color: #999;
$green: #3AAA38;

$background : #f5f5f5;
$secondary-background : #fff;

$border: 4px;

body {
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: $green;
}

main {
    background: $background;
}