@import 'resets';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

$color: #f5f5f5;
$secondary-color: #999;
$green: #3AAA38;

$background: #f5f5f5;
$secondary-background: #fff;

$border: .25rem;

@keyframes fade {
    to {
        opacity: 1;
    }
}

html,
body {
    scroll-behavior: smooth;
}

body {
    opacity: 0;
    animation: fade 1s ease-in forwards;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    @media (min-width: 1200px) {
        font-size: 18px;
    }
}

main {
    padding-bottom: 3rem;
    background: $background;

    @media (max-width: 768px) {
        padding-bottom: unset;
    }
}

.container {
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;

    @media (max-width: 768px) {
        padding: 1rem;
        font-size: 14px;
        width: 100%;
    }

    @media (min-width: 1200px) {
        max-width: 1080px;
        font-size: 18px;
    }
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: $green;
}

h2.centered {
    text-align: center;
}

section.paragraph {
    padding: 1rem 6.5rem;
    color: $secondary-color;
    font-size: 1.2rem;
    font-style: italic;

    @media (max-width: 768px) {
        padding: 1rem;
    }
}