@import 'base',
'components/header',
'pages/index',
'pages/map',
'pages/articles',
'pages/books',
'pages/gallery';

body {
    animation: fade .3s ease-in forwards;
    opacity: 0;
}

@keyframes fade {
    to {
        opacity: 1;
    }
}