.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(197px, 1fr));
    margin-top: 1.5rem;
    gap: .6rem;

    &_book {
        position: relative;
        aspect-ratio: 3/4;
        overflow: hidden;

        img {
            position: absolute;
            object-fit: cover;
            transition: .2s ease-out;
            height: 100%;
            width: 100%;
        }

        .book_content {
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 1rem;
            background: $green;
            transition: .2s ease-out;
            backdrop-filter: blur(5px);
            width: 100%;
            transform: translateY(100%);
            color: $color;
            opacity: 0;
            bottom: 0;

            h4 {
                font-size: 1.2rem;
                font-weight: 600;
            }

            p {
                font-size: 1rem;
            }
        }

        &:hover .book_content {
            transform: translateY(0);
            opacity: 1;
        }

        &:hover img {
            filter: brightness(60%);
        }
    }
}