#map-page>.container {
    padding-bottom: 3rem;
    min-height: 70vh;

    .map-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        margin-top: -6rem;

        button {
            display: grid;
            place-items: center;
            position: absolute;
            top: 0;
            right: 0;
            width: 2rem;
            height: 2rem;
            z-index: 999;
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
            margin: .6rem;
            border-radius: $border;
            cursor: pointer;
            transition: .3s ease;

            &:hover {
                background: rgba(0, 0, 0, .5);
            }
        }

        #map {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            border-radius: $border;
        }
    }
}