#map-page {
    background: url('../images/background.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 70vh;

    .map-container {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1080px;
        height: 80%;

        @media (max-width: 768px) {
            width: 94.5%;
            height: 78%;
        }

        button {
            display: grid;
            place-items: center;
            position: absolute;
            top: 0;
            right: 0;
            width: 2rem;
            height: 2rem;
            z-index: 999;
            color: #fff;
            margin: .6rem;
            border-radius: $border;
            cursor: pointer;
            transition: .3s ease;
            background: rgba(0, 0, 0, .25);

            &:hover {
                background: rgba(0, 0, 0, .5);
            }
        }

        #map {
            width: 100%;
            height: 100%;
            background-color: #111;
            border-radius: $border;
        }
    }
}
