.header {
    background: url('../images/Imagem\ de\ fundo.png');
    position: relative;
    height: 70vh;

    &.sm {
        height: 30vh;
    }

    .mobile-button {
        display: none;
        background: rgba(0, 0, 0, 0.8);
        font-size: 1.2rem;
        font-size: 1.4rem;
        color: $color;
        padding: .3rem;
        margin: .4rem .4rem 0 auto;

        &:hover {
            background: rgba(0, 0, 0, 1);
        }
    }

    @media (max-width: 768px) {
        height: 20vh;
        overflow-x: hidden;

        .container {
            justify-content: center;
            padding-top: 0 !important;
        }

        .mobile-button {
            display: flex;
            color: $color;
        }

        nav {
            margin-left: initial;
            width: 100%;

            .menu {
                position: absolute;
                flex-direction: column;
                pointer-events: none;
                background: $color;
                transform: translateX(100%);
                opacity: 0;
                gap: .25rem;

                &.active {
                    opacity: 1;
                    transform: translateX(0);
                    pointer-events: all;
                    transition: all .3s ease;
                }
            }
        }
    }

    .container {
        display: flex;
        padding-top: 1.2rem;

        nav {
            margin-left: auto;

            a {
                color: $color;
                text-align: center;
                font-size: 1.2rem;
                padding: .3rem 1rem;
                background: rgba(0, 0, 0, 0.8);
                border-radius: $border;

                &:hover {
                    background: rgba(0, 0, 0, 1);
                }
            }
        }

        .logo {
            position: absolute;
            padding: .5rem 4rem;
            font-size: 2.4rem;
            font-weight: 700;
            background: $background;
            border-radius: $border $border 0 0;
            bottom: 0;
        }
    }
}