.header {
    background: url('../images/Imagem\ de\ fundo.png');
    position: relative;
    overflow: hidden;
    height: 70vh;

    .overlay {
        position: absolute;
        animation: fade-out 3s forwards ease-out;
        pointer-events: none;
        filter: blur(5px);
        opacity: 1;
        left: 0;
        top: 0;
    }

    @keyframes fade-out {
        to {
            opacity: 0;
        }
    }

    &.sm {
        height: 30vh;
    }

    .container {
        display: flex;
        padding-top: 1.2rem;

        nav {
            margin-left: auto;

            @media (max-width:768px) {
                display: flex;
                justify-content: center;
                margin-left: unset;
                width: 100%;
            }

            a {
                color: $color;
                text-align: center;
                font-size: 1.2rem;
                background: rgba(0, 0, 0, 0.8);
                border-radius: $border;

                &:hover {
                    background: rgba(0, 0, 0, 1);
                }

                @media (max-width:768px) {
                    padding: .3rem .3rem;

                }
            }
        }

        .logo {
            position: absolute;
            padding: .5rem 4rem;
            font-size: 2.4rem;
            font-weight: 700;
            background: $background;
            border-radius: $border $border 0 0;
            bottom: 0;

            @media (max-width: 768px) {
                left: 50%;
                transform: translateX(-50%);
                font-size: 2.2rem;
            }
        }
    }
}