@import url(../base.css);
@import url(../reset.css);
@import url(../components.css);

#map-page .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#map-page h2 {
    margin-bottom: 1rem;
}

#map-page #map-inner {
    max-width: 720px;
    aspect-ratio: 16/9;
    width: 90%;

    background: red;
}